* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

html, body {
    width: 100%;
    height: 100%;
}

.termin .date {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: grey;
}

.termin .day {
    font-size: 2rem;
    font-weight: 700;
    color: black;
    line-height: 1.75rem;
}

.termin .dayName {
    text-transform: uppercase;
}

.termin .uhrzeit {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: grey;
    margin-top: 10px;
}

.termin .seperator {
    line-height: 0.1rem;
    margin-bottom: 4px;
}

#comment {
    border: none;
    border-bottom: 1px solid grey;
    width: 100%;
}

#username {
    width: 100%;
}

.kommentar {
    border: solid 1px grey;
    border-radius: 10px;
    padding: 10px;
    margin: 2px 0px;
}

.kommentar span {
    font-weight: bold;
    margin-bottom: 5px;
}

.kommentar p {
    margin-bottom: 0px;
}

#appointmentsView {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#appointmentsView h1 {
    margin: 20px;
}

#commentArea {
    margin: 60px 0px;
}

.row.spacebetween {
    justify-content: space-between;
}

#detailedView #voting {
    display: flex;
    flex-direction: row;
}

#voting .termin .vote {
    border-top: solid 1px black;
}

#detailedView p {
    margin-bottom: 0px;
}

#error,
#success {
    position: fixed;
    bottom: -100px;
    transition: all 0.4s ease;
    width: 40%;
    height: 50px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 10px;
    border: solid 2px;
    font-weight: bold;
}

#error p, #success p {
    margin-bottom: 0px;
    margin-left: 10px;
}

#error {
    background-color: rgb(255, 137, 137);
    color: rgb(100, 1, 1);
    border-color: rgb(100, 1, 1);
}

#success {
    background-color: rgb(120, 255, 120);
    color: rgb(0, 100, 10);
    border-color: rgb(0, 100, 10);
}

#error.show,
#success.show {
    bottom: 10%;
}

.appointmentForm {
    display: flex;
    flex-direction: column;
}

#add {
    transition: all 0.2s ease;
    cursor: pointer;
    position: fixed;
    right: 50px;
    bottom: 50px;
}

#add i {
    font-size: 2rem;
}

#add:hover {
    transform: scale(1.05);
}

#delete {
    width: 55px;
    height: 55px;
    transition: all 0.2s ease;
    cursor: pointer;
    position: fixed;
    right: 20px;
    top: 20px;
}

#delete:hover {
    background-color: rgb(211, 4, 4);
}

#terminArea .termin {
    display: flex;
    flex-direction: row;
    align-items: center;
}

#terminArea .termin p {
    margin-bottom: 0px;
}

#terminArea .termin .delete {
    background-color: transparent;
    border: 1px solid rgb(126, 1, 1);
    transition: all 0.2s ease;
    margin-left: 10px;
    border-radius: 10px;
}

#terminArea .termin .delete i {
    color: rgb(126, 1, 1);
    font-size: 1rem;
    -webkit-text-stroke: 1px;
}

#terminArea .termin .delete:hover {
    background-color: rgba(255, 0, 0, 0.541);
}

#back {
    position: absolute;
    left: 20px;
    top: 20px;
    height: 55px;
    width: 55px;
    transition: all 0.2s ease;
    cursor: pointer;
    font-size: 2rem;
}

td p {
    margin-bottom: 0px;
}

td {
    text-align: center;
    vertical-align: middle;
}

td.voted {
    text-align: center;
    background-color: rgba(0, 255, 0, 0.521) !important;
    color: rgb(2, 109, 2) !important;
}

td.notVoted {
    text-align: center;
    background-color: rgba(255, 0, 0, 0.541) !important;
    color: rgb(126, 1, 1) !important;
}

td i {
    font-size: 1.25rem;
    -webkit-text-stroke: 3px;
}